<!-- arver template fra taskmate/templates/base.html-->
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>About</title>
{% endblock title %}


{% block content %}
    <div class="col-xl-8 pt-5" >
        <div class="pt-5" >
        <h4>Hvordan spill</h4>
        <p>Lorem ipsum dolor sit amet, lorem scelerisque curabitur elementum eligendi, sed ut nibh. 
        Nullam ac ut proin tortor tortor, ultrices odio litora eu, at lectus. 
        Nulla et est, donec at, rutrum massa eros elit nisl sed, integer amet fusce tempus phasellus 
        aliquam posuere, molestie adipiscing quas magnis convallis tellus. Exercitation purus 
        aliquam, tortor pellentesque. Consequat arcu quis eros, turpis ultrices tempor elementum, 
        platea cursus dignissim nulla. Ultrices vestibulum sit et taciti ut, nunc interdum. 
        In eleifend amet sed a tortor, sed condimentum pede nam magna, nisl nam tristique pede ut at, eleifend sit ac vitae orci, nec wisi vestibulum tortor facilisis. Cras nunc debitis duis placerat curabitur, conubia vel ullamcorper vestibulum morbi donec, molestie rutrum.
        Cras elit ut, quis diam sed sollicitudin morbi rhoncus, ante velit, at ipsum debitis. 
        Ut ipsum, et sed morbi odio libero viverra eget, nihil blandit nonummy mauris. Et sed nisl 
        fermentum nunc sapien erat, dolor mattis pellentesque nec sapien faucibus, praesent lectus odio 
        rhoncus id dolor, velit at lorem iaculis condimentum. Id suscipit amet nec rutrum, erat magnis 
        amet id, lacus tristique. Neque id mauris dapibus consectetuer ut scelerisque, tincidunt 
        fringilla quis dolores, praesent ipsum, nec tortor ultricies, posuere a fusce et magna.</p>
        <div class="row">
        <div class="col-md-10"> </div>
        <button type="button" class="btn btn-primary">Forstått</button>
        
        </div>
        <div>
    </div> 


{% endblock content %}

